[GENERAL]
#basepath - root of main directory with modules (change it, if neede, to your dir)
basepath = /tmp/shaman
num_workers = 1
logfile_path = /tmp/shaman/shaman_daemon.log
pidfile_path = /tmp/shaman

workers_logging_dir = /tmp/shaman
worker_prefix = worker_
stages_dir = shamanapp/analyzers/input_stages;shamanapp/analyzers/output_stages;shamanapp/analyzers/general_stages


[GRAB]
connect_timeout = 3


[GRAPHITE]
enabled = False
global_key = shaman
host = localhost
port = 2411


[STAGES]
stdin_reader_stage = 'classname':'StdinReaderStage'
download_stage = 'classname':'DownloadStage'
file_output_stage_failed = 'classname':'FileOutputStage','python_class_filename':'file_output_stage'
file_output_stage_downloaded = 'classname':'FileOutputStage','python_class_filename':'file_output_stage'


[stdin_reader_stage]
order = 0
owner = testing
comment = ''

[download_stage]
connect_timeout = 3
download_timeout = 3
order = 10

[file_output_stage_failed]
order = 20
out_dir = /tmp/shaman/data/failed
fields_to_print = results

[file_output_stage_downloaded]
order = 25
out_dir = /tmp/shaman/data/downloaded
fields_to_print = output_dict


#[crawler_kafka_input_stage]
#cluster = <kafka cluster>:9092
#group = <shaman consumer group>
#topic = <shaman topic>
#max_partition_fetch_bytes = 50715
#request_timeout_ms = 70000
#session_timeout_ms = 60000
#heartbeat_interval_ms = 9000
#commit_every = 100
#metadata_max_age_ms = 5000
#order = 0
#retries_on_error = 10
#retry_pause = 3.0


#[mongo_output_stage]
#order = 20
#document_field = failed_urls
#mongohost = <mongohost>:27017
#db = shaman
#collection = failed_urls
#time_reconnect = 5
#n_retries = 5
#update_retry_wait = 5

#[kafka_output_stage]
#order = 30
#topic = <shaman topic>
#cluster = <kafka cluster>:9092
#fields_to_send = output_dict
#max_send_retries = 30
#retry_send_timeout = 1