[GENERAL]
#basepath - root of main directory with modules
basepath = /Users/a.zraev/240116/shaman/doc/shaman_open/shaman
num_workers = 2
logfile_path = /Users/a.zraev/240116/shaman/doc/shaman_open/shaman/shaman_daemon.log
pidfile_path = /Users/a.zraev/240116/shaman/doc/shaman_open/shaman

workers_logging_dir = /Users/a.zraev/240116/shaman/doc/shaman_open/shaman
worker_prefix = crawler_
stages_dir = shamanapp/analyzers/input_stages;shamanapp/analyzers/output_stages;shamanapp/analyzers/general_stages


[GRAB]
connect_timeout = 3


[GRAPHITE]
enabled = True
global_key = prod.sceu.facetz.shaman
host = graphite-lba.dca-ops.tech
port = 2411


[STAGES]
stdin_reader_stage = 'classname':'StdinReaderStage'
download_stage = 'classname':'DownloadStage'
file_output_stage_failed = 'classname':'FileOutputStage','python_class_filename':'file_output_stage'
file_output_stage_downloaded = 'classname':'FileOutputStage','python_class_filename':'file_output_stage'


[stdin_reader_stage]
order = 0
owner = testing
comment = ''

[download_stage]
connect_timeout = 3
download_timeout = 3
order = 10

[file_output_stage_failed]
order = 20
out_dir = /Users/a.zraev/240116/shaman/doc/shaman_open/shaman/data/failed
fields_to_print = results

[file_output_stage_downloaded]
order = 25
out_dir = /Users/a.zraev/240116/shaman/doc/shaman_open/shaman/data/downloaded
fields_to_print = url


#[crawler_kafka_input_stage]
#cluster = int-prod-sceu-facetz-kafka.dca-ops.tech:9092
#group = shaman_crawlers_1
#topic = shaman_urls
#max_partition_fetch_bytes = 50715
#request_timeout_ms = 70000
#session_timeout_ms = 60000
#heartbeat_interval_ms = 9000
#commit_every = 100
#metadata_max_age_ms = 5000
#order = 0
#retries_on_error = 10
#retry_pause = 3.0


#[mongo_output_stage]
#order = 20
#document_field = failed_urls
#mongohost = prod-hzeu-exebid-analytics-1.dca-ops.tech:27017
#db = shaman
#collection = failed_urls
#time_reconnect = 5
#n_retries = 5
#update_retry_wait = 5

#[kafka_output_stage]
#order = 30
#topic = shaman_crawled_data
#cluster = int-prod-sceu-facetz-kafka.dca-ops.tech:9092
#fields_to_send = output_dict
#max_send_retries = 30
#retry_send_timeout = 1